.header{
    background-color: $bg-color;
    padding: 0 0.9rem;
    border: 1px solid grey;
    nav{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            margin: 0.6rem 0;
            a{
                color: black;
                font-size: 1.4rem;
                .cart-number{
                    color: black;
                    font-size: 1rem;
                    background-color: darken($color: $bg-color, $amount: 30);
                    padding: 5px;
                    border-radius: 50%;
                    vertical-align: top;
                    position: relative;
                    left: -10px;
                }
            }
            a:hover{
                color: darken($color: $bg-color, $amount: 30);
            }
        }
    }
}