@keyframes showFrom {
    0%{
        transform: scaleY(0);
        transform-origin: top;
    }
    100%{
        transform: scaleY(1);
        transform-origin: top;
    }
}

.panier{
    margin: 2rem auto;
    h1{
        text-align: center;
        font-size: 1.9rem;
    }
    &__form{
        display: none;
        margin: 3rem 0;
        h2{
            text-align: center;
            font-size: 1.6rem;
            margin: 2rem 0;
        }
    }
    .cart-empty{
        display: block;
        text-align: center;
        font-size: 2rem;
    }
    #total{
        text-align: center;
        font-size: 1.6rem;
    }
    &__list-items{
        text-align: center;
        table{
            text-align: left;
        }
        button{
            font-weight: 800;
            text-transform: uppercase;
            transform: scaleX(1.2);
        }
    }
}

#clear-cart{
    margin: 1rem 0;
    float: right;
}