.rayon{
    h1{
        text-align: center;
        font-size: 1.4rem;
        img{
            margin: 2rem auto;
            width: 85%;
            filter: drop-shadow(5px 5px 5px #222);
        }
    }
    .cat-logo{
        .stock-out{
            position: absolute;
            width: 70%;
            opacity: 0.8;
            bottom: -50px;
            right: 0;
            left: 0;
        }
    }
    h2{
        text-align: center;
        font-size: 1.35rem;
        margin-top: 2.5rem;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2.5rem auto;
        width: 95%;
        figure{
            margin: 1rem auto;
            padding: 10px;
            width: 40%;
            border: 2px solid grey;
            @include mobile{
                width: 80%;
            }
            a{
                img{
                    width: 100%;  
                }
                margin-top: 2rem;
                figcaption{
                    text-align: center;
                    font-size: 1.4rem;
                    color: black;
                    margin-top: 1rem;
                }
                &:hover{
                    opacity: 0.85;
                    text-decoration: none;
                }
            }
        }
    }
}
.recent-add-cart{
    width: 600px;
    @include tablet{
        width: 90%
    }
    margin: auto;
    
    align-items: center;
    img{
        width: 80px;
    }
    tr{
        align-items: center;
        border: 1px solid black;
    }
    td{
        padding: 1rem;
        @include tablet{
            display: block;
            text-align: center;
        }
    }
    &__name, &__button{
        text-align: center;
        color: darkgreen;
        span{
            font-weight: 800;
            color: black;
            @include tablet{
            }
        }
    }
}
.btn-cart{
    padding: 10px 30px;
}