.panier{
    margin: 2rem auto;
    h1{
        text-align: center;
        font-size: 1.9rem;
    }
    &__form{
        margin: 3rem 0;
        h2{
            text-align: center;
        }
    }
    .cart-empty{
        display: block;
        text-align: center;
        font-size: 2rem;
    }
    #total{
        text-align: center;
        font-size: 1.6rem;
    }
    &__form{
        h2{
            font-size: 1.6rem;
            margin: 2rem 0;
        }
    }
}

#clear-cart{
    margin: 1rem 0;
    float: right;
}