.product-infos{
    margin-top: 2rem;
    &__price{
        text-align: center;
    }
}
.btn-cart{
    padding: 10px 30px;
    margin-top: 25px;
}
#sucess-add-cart{
    display: none;
    font-weight: 800;
    font-size: 1.2rem;
}